# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

target/
.classpath
.project
.settings/
logs/
bin/
data/
src/main/gen
example.api/target/
example.api/.classpath
example.api/.project
example.api/.settings/
example.api/logs/
example.api/bin/
example.api/data/
example.api/src/main/gen
example.provider/target/
example.provider/.classpath
example.provider/.project
example.provider/.settings/
example.provider/logs/
example.provider/data/
example.provider/bin/
example.provider/src/main/gen
example.provider/src/main/resources/META-INF/keys/
example.comsumer/target/
example.comsumer/.classpath
example.comsumer/.project
example.comsumer/.settings/
example.comsumer/logs/
example.comsumer/data/
example.comsumer/bin/
example.comsumer/src/main/gen
example.comsumer/src/main/resources/META-INF/keys/
gatewayclientapp/target/
gatewayclientapp/.classpath
gatewayclientapp/.project
gatewayclientapp/.settings/
gatewayclientapp/logs/
gatewayclientapp/data/
gatewayclientapp/bin/
gatewayclientapp/src/main/gen
expjmicro.tx/.project
expjmicro.tx/.settings/
expjmicro.tx/expjmicro.tx.api/target/
expjmicro.tx/expjmicro.tx.api/.classpath
expjmicro.tx/expjmicro.tx.api/.project
expjmicro.tx/expjmicro.tx.api/.settings/
expjmicro.tx/expjmicro.tx.api/src/main/gen
expjmicro.tx/expjmicro.tx.comsumer/target/
expjmicro.tx/expjmicro.tx.comsumer/.classpath
expjmicro.tx/expjmicro.tx.comsumer/.project
expjmicro.tx/expjmicro.tx.comsumer/.settings/
expjmicro.tx/expjmicro.tx.comsumer/src/main/gen
expjmicro.tx/expjmicro.tx.comsumer/logs/
expjmicro.tx/expjmicro.tx.comsumer/data/
expjmicro.tx/expjmicro.tx.comsumer/bin/
expjmicro.tx/expjmicro.tx.comsumer/src/main/gen
expjmicro.tx/expjmicro.tx.provider/target/
expjmicro.tx/expjmicro.tx.provider/.classpath
expjmicro.tx/expjmicro.tx.provider/.project
expjmicro.tx/expjmicro.tx.provider/.settings/
expjmicro.tx/expjmicro.tx.provider/src/main/gen
expjmicro.tx/expjmicro.tx.provider/logs/
expjmicro.tx/expjmicro.tx.provider/data/
expjmicro.tx/expjmicro.tx.provider/bin/
expjmicro.tx/expjmicro.tx.provider/src/main/gen
expjmicro.tx/expjmicro.tx.provider1/target/
expjmicro.tx/expjmicro.tx.provider1/.classpath
expjmicro.tx/expjmicro.tx.provider1/.project
expjmicro.tx/expjmicro.tx.provider1/.settings/
expjmicro.tx/expjmicro.tx.provider1/src/main/gen
expjmicro.tx/expjmicro.tx.provider1/logs/
expjmicro.tx/expjmicro.tx.provider1/data/
expjmicro.tx/expjmicro.tx.provider1/bin/
expjmicro.tx/expjmicro.tx.provider1/src/main/gen


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
